# Build and Tooling
.gradle
/build
/captures
/local.properties
.kotlin
.externalNativeBuild
.cxx

# IntelliJ/Android Studio
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml
*.ipr
*.iws

# System Files
.DS_Store
Thumbs.db

# Android Specific
*.ap_
*.apk
*.dex
/app/build
/video-player-lib/build
